/* Main modal container*/
.container {
    display: flex;  
    justify-content: flex-end;
  }
  /* Recommendation boxes inside modal*/
  .box {
    position: relative;
    width:  100%;
    max-height: 40px;
    /* ACCESS Color*/
    background-color: #1a5b6e;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    display:  flex;
    flex-direction: row;
    justify-content: flex-start;
    /* Transitions for expanding the boxes*/
    transition:  height 0.3s ease-in-out;
    transition:  max-height 0.3s ease-in-out;
    /* ACCESS Color*/
    border: 4px solid #48c0b9;
    color: #ffffff;
  }
  /* Caret on recommendation boxes to indicate expanded or not */
  .caret {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    color: #000;
    transition: transform 0.3s ease;
    font-size:  24 px;
    color:  #000;
  }
  /* Content of recommendation boxes*/
  .box-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left:  5px;
  }
  /* Title of recommendation boxes*/
  .box-title {
    margin: 0;
    color: #ffffff;
    text-align: left;
    margin-bottom: 10px;
  }
  
  /* Rotates the caret upon the recommendation box being expanded*/
  .box.expand .caret {
    transform: rotate(180deg);
  }
  
  /* Reason tags inside of recommendation boxes (expanded)*/
  .tag {
    display: inline-block;
    padding: 5px 10px;
    /* ACCESS color*/
    background-color: #f07537;
    color: #000000; /* Set text color to white for better visibility */
    border-radius: 10px;
    margin-right: 5px;
  }

  /* Container of all the reason tags*/
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
  }

  /* Container of all the text and tags inside recommendation boxes*/
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    color: #ffffff;
  }

  .body-container a {
    color: #ffffff;
    position: right;
    font-weight: bold;
  }

  .modal-darkened {
    opacity: 0.5;
    pointer-events: none;
  }