{% extends "base.html" %}
{% block scripts %}
    {{super()}}
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.7.0/js/dataTables.searchBuilder.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.7.0/js/searchBuilder.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script type="module" src="../static/js/table.js"></script>

{% endblock %}
<div>
{%block page_title %}
<div style="text-align: center;">
<h4 style="text-align:center;" id="page_title">ACCESS Software Documentation Service</h4>
</div>
{% endblock %}

{% block app_content %}
<div class="table-responsive table-container">
    <div class="table-responsive" id="softwareTableDiv" style="width: 80vw;">
        {{table|safe}}
    </div>
</div>
    
{% include 'useCase.html' %}

{%endblock%}